<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd" default-autowire="byName">
	
	<bean id="tea" class="com.bjsxt.pojo.Teacher">
		<property name="id" value="456" />
		<property name="name" value="zhangsanfeng" />
	</bean>
	<bean id="teacher" class="com.bjsxt.pojo.Teacher">
		<property name="id" value="123" />
		<property name="name" value="zhangsanfeng" />
	</bean>
	<bean id="stu" class="com.bjsxt.pojo.Student" autowire="default">
		<property name="id" value="123" />
		<property name="name" value="zhangwuji" />
	</bean>
</beans>