<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace表示命名空间，可以随便写，不要重复。一般写全限定路径（包名+类名） -->
<mapper namespace="com.bjsxt.mapper.FlowerMapper">
	<!-- 
		id相当于方法名 
		resultType表示返回值类型：如果返回值类型是一个集合，要写集合泛型的类型(因为mybatis
		是一条一条封装数据的)
	-->
	<select id="queryAll" resultType="com.bjsxt.pojo.Flower">
		select * from flower<!-- 不要加分号，不加分号可以使用所有数据库 -->
	</select>
	
	<select id="queryById" resultType="com.bjsxt.pojo.Flower">
		select * from flower where id =1<!-- 不要加分号，不加分号可以使用所有数据库 -->
	</select>
	
</mapper>
