<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="stu" class="com.bjsxt.pojo.Student">
    	<property name="id" value="1"></property>
    	<property name="name" value="张无忌"></property>
    	<property name="teacher" ref="tea"></property>
    	
    </bean>
    <bean id="tea" class="com.bjsxt.pojo.Teacher">
    	<property name="id" value="2"></property>
    	<property name="name" value="张翠山"></property>
    </bean>
</beans>