<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bjsxt.mapper.MenuMapper">
	<resultMap type="menu" id="mm">
		<id property="id" column="id"/>
		<result property="menu" column="menu"/>
		<result property="pid" column="pid"/>
		<collection property="list" select="selMenu" column="{rid=rid,pid=id}"></collection>
	</resultMap>
	<select id="selMenu" resultMap="mm">
		select m.*, #{rid} rid from menu m where id in (select mid from role_menu  where rid=#{rid} ) and pid =#{pid}
	</select>
</mapper>